svg{
    margin-left:auto; margin-right:auto; display:block;
}

.node {
    font: 300 23px "Helvetica Neue", Helvetica, Arial, sans-serif;
    fill: #808080;
    cursor: pointer;
}

.link {
    stroke: steelblue;
    stroke-opacity: .4;
    fill: none;
    pointer-events: none;
}

.node:hover,
.node--corr,
.node--ncorr {
    font-weight: 700;
}

.node--corr {
    fill: #2ca02c;
}

.node--ncorr {
    fill: #d62728;
}

.link--ncorr,
.link--corr {
    stroke-opacity: 1;
    stroke-width: 1px;
}

.link--ncorr {
    stroke: #d62728;
}

.link--corr {
    stroke: #2ca02c;
}
div.tooltip {
    position: absolute;
    text-align: center;
    width: 450px;
    height: 700px;
    padding: 10px;
    font: 12px sans-serif;
    background: #E0FFFF;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    z-index: 1000;
}
path {
    stroke: steelblue;
    stroke-width: 1;
    fill: none;
}
rect{
    fill:lightcoral;
    opacity: 0.5;
}

.axis {
    shape-rendering: crispEdges;
}

.x.axis line,.x.axis path,.y.axis line, .y.axis path {
    fill: none;
    stroke: #000;
}