table {
    border-collapse: collapse;
}
th {
    border-bottom: 2px solid #ddd;
    padding: 8px;
    font-weight: bold;
}
td {
    padding: 8px;
    border-top: 1px solid #ddd;
}
#chart {
    padding: 0px;
}
.xaxislabel {
    font-size: 9px;
}
.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}